NODE_ENV=production
PORT=3001
FRONTEND_URL=http://localhost:8505

ORACLE_DB_IMAGE=container-registry.oracle.com/database/free:latest
ORDS_IMAGE=container-registry.oracle.com/database/ords:latest
OLLAMA_IMAGE=docker.io/ollama/ollama:latest

ORACLE_PWD=oracle
ORACLE_CHARACTERSET=AL32UTF8
APP_SCHEMA_PASSWORD=livestackrulez!
ORACLE_USER=LIVESTACK
ORACLE_CONNECTION_STRING=db:1521/FREEPDB1

CONN_STRING=db:1521/FREEPDB1
DBHOST=db
DBPORT=1521
DBSERVICENAME=FREEPDB1

ORDS_PORT=8181
OLLAMA_PORT=11434
APP_PORT=8505

ONNX_MODEL_FILENAME=all_MiniLM_L12_v2.onnx
ONNX_MODEL_URL=https://adwc4pm.objectstorage.us-ashburn-1.oci.customer-oci.com/p/eLddQappgBJ7jNi6Guz9m9LOtYe2u8LWY19GfgU8flFK4N9YgP4kTlrE9Px3pE12/n/adwc4pm/b/OML-Resources/o/all_MiniLM_L12_v2.onnx

OLLAMA_HOST=0.0.0.0:11434
OLLAMA_BASE_URL=http://ollama:11434
OLLAMA_MODEL=llama3.2

ORACLE_POOL_MIN=2
ORACLE_POOL_MAX=10
ORACLE_POOL_INCREMENT=1

DEMO_USAGE_COUNTER_PAR_URL=https://objectstorage.us-ashburn-1.oraclecloud.com/p/9wBx6_6aCca634IJC-Zfo-1IlyD6LJ7vqJa5NRnv0Utf2KIhKTeFP9dhxqFRNjUh/n/c4u04/b/livestacks-counter/o/
DEMO_USAGE_COUNTER_PREFIX=lifesciences-demo-usage/events
DEMO_USAGE_COUNTER_DEMO_ID=lifesciences
DEMO_USAGE_COUNTER_TIMEOUT_MS=3000
